/* button{
    font-size: 40px;
    background-color: aquamarine;
    color: green;
    width: 150px;
    padding: 10px 20px
}

.buttonnums{
    font-size: 200px;
}

.restart{
    padding: 20px;
    font-size: large;
    background-color: red;
    color: black;
} */